<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <!-- Favicons Icon -->
    <link rel="icon" href="http://htmldemo.themessoft.com/freshia/version1/images/favicon.png" type="image/x-icon" />
    <link rel="shortcut icon" href="http://htmldemo.themessoft.com/freshia/version1/images/favicon.png" type="image/x-icon" />
    <title>Freshia premium HTML5 &amp; CSS3 template</title>
    <!-- Mobile Specific -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!-- CSS Style -->
    <link href="~/Assets/WebAssets/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Assets/WebAssets/css/font-awesome.css" rel="stylesheet" />
    <link href="~/Assets/WebAssets/css/simple-line-icons.css" rel="stylesheet" />
    <link href="~/Assets/WebAssets/css/owl.carousel.css" rel="stylesheet" />
    <link href="~/Assets/WebAssets/css/owl.carousel.css" rel="stylesheet" />
    <link href="~/Assets/WebAssets/css/jquery.bxslider.css" rel="stylesheet" />
    <link href="~/Assets/WebAssets/css/jquery.mobile-menu.css" rel="stylesheet" />
    <link href="~/Assets/WebAssets/css/style.css" rel="stylesheet" />
    <link href="~/Assets/WebAssets/css/revslider.css" rel="stylesheet" />
    <!-- Google Fonts -->
    <link href="~/Assets/fontawesome/css/all.min.css" rel="stylesheet" />
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:700,600,800,400' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Rubik:400,400i,500,500i,700,700i,900" rel="stylesheet">
    <!-- JavaScript -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">
</head>
<body class="cms-index-index cms-home-page">
    @RenderBody()
    
    <script src="~/Assets/WebAssets/js/jquery.min.js"></script>
    <script src="~/Assets/WebAssets/js/bootstrap.min.js"></script>
    <script src="~/Assets/WebAssets/js/revslider.js"></script>
    <script src="~/Assets/WebAssets/js/common.js"></script>
    <script src="~/Assets/WebAssets/js/owl.carousel.min.js"></script>
    <script src="~/Assets/WebAssets/js/jquery.mobile-menu.min.js"></script>
    <script src="~/Assets/WebAssets/js/countdown.js"></script>
</body>
</html>
 